modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 23913
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["freetype", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[userenv]
EXPO_PUBLIC_API_DOMAIN = "zendesk-salesforce--jacejce87j.replit.app"
EXPO_PUBLIC_CLERK_PROXY_URL = "https://zendesk-salesforce--jacejce87j.replit.app/api/__clerk"
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_live_Y2xlcmsuemVuZGVzay1zYWxlc2ZvcmNlLS1qYWNlamNlODdqLnJlcGxpdC5hcHAk"
